.address-form input {
  width: 80%;
  margin: 1px 0;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #444;
  padding: 0.5rem;

}

    #street {
      border-radius: 8px 8px 2px 2px;
    }
.w-80 {
  width: 80%;
}
