.order-header {
  background-color: #A33829;
  color: #F1F1F1;
}

.order-title {
  font-family: Lemonada, cursive;
  text-align: end;
  padding: 3rem 0;
  font-size: 48px;
}

.order-body {
  h4{
    color: #A33829;
    font-family: Lemonada, cursive;
    font-weight: 600;
    font-size: 36px;
  }
}

.order-field {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.order-field select {
  background-color: #D1D1D1;
  border: none;
  width: 320px;
  padding: 1rem;
  color: #666;
  border-radius: 4px;
  font-size: 24px;
}

.order-field .topping-choice {
  background-color: #D1D1D1;
  border-radius: 4px 2px 2px 4px;
  border: 2px solid #888;
  color: #666;
  margin: 2px;
  font-size: 24px;
  width: 320px;
  padding: 1rem;
}

.topping-choice {
  border-radius: 4px;
  border: 2px solid #888;
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgb(245, 245, 245);

}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label{
  border: 2px solid #A33829;
  color: #F1F1F1;
  background-color: #ce8076;
  transition: 0.2s;
}

.topping-header {
  background: #888;
  color: #F1F1F1;
  font-weight: bold;
  padding: 1rem 0.5rem;
}
