.order-show {
  h3 {
    text-align: center;
  }

  .product-title {
    font-weight: bold;
  }

  .product-description {
    padding-left: 2rem;
    color: #666;

  }
  border-radius: 16px 16px 2px 2px;
}
