<div class="nav-color-fill"></div>
<div class="nav-spacer-transparent"></div>
<section class="container-fluid order-header">
  <div class="order-header container-fluid">
    <div class="container">
      <h2 class="order-title">Monte sua Pintssa</h2>
    </div>
  </div>
</section>
<section class="container">
  <div class="container-header">
    <h2 class="header-title">Inicio da montagem</h2>
  </div>
  <div class="container-body">
    <%= link_to 'Iniciar montagem', build_pizza_path, class: 'btn btn-primary btn-cto' %>
  </div>
</section>
