<body>
  <section class="navbar">
    <div class="logo">
      <div class="navbar-logo">
        <h4>Lanchonotto</h4>
      </div>
    </div>
    <div class="navigation">
      <%= link_to 'Início', root_path, class: 'navbar-item' %>
      <%= link_to 'Monte sua pizza', new_pizza_path, class: 'navbar-item' %>
      <%= link_to 'Bebidas', drinks_path, class: 'navbar-item' %>
      <%= link_to 'Carrinho', order_path, class: 'navbar-item' %>
    </div>
  </section>
</body>
</html>
