<div class="nav-color-fill"></div>
<div class="nav-spacer-transparent"></div>
<section class="container-fluid order-header">
  <div class="container">
    <h1 class="order-title">Checkout</h1>
  </div>
</section>
<section class="container d-flex flex-row justify-content-center">
  <div class="container-header col-lg-6 ">
    <div class="wrapper  p-4 pb-0 price-border">
      <h4 class="container-title">Preço total</h4>
      <p class="container-text">
        R$<%= "#{'%.2f' % (@order.price / 100)}"  %>
      </p>
    </div>
    <div class="wrapper address">
      <h4 class="container-title address-title">
        Endereço de entrega
      </h4>
        <%= simple_form_for @order, html: { class: 'address-form card-body'} do |f|%>
          <input class="first" type="text" id="street" name="street" placeholder="Rua da casa da silva, 29"><br>
          <input type="text" id="postcode" name="postcode" placeholder="83503-050"><br>
          <input type="text" id="reference" name="reference" placeholder="Próximo a igreja do quarto dia"><br>
          <input type="text" id="phone" name="phone" placeholder="(41)99848-7878"><br>
          <input type="text" id="notes" name="notes" placeholder="Observações. Ex: Troco para 50">
          <%= f.submit 'Salvar endereço', class: 'btn btn-outline-secondary btn-checkout w-100' %>
        <% end %>
      </form>
    </div>
  </div>
</section>
