<div class="nav-color-fill"></div>
<div class="nav-spacer-transparent"></div>
<section class="container-fluid order-header">
  <div class="order-header container-fluid">
    <div class="container">
      <h2 class="order-title">Monte sua Pintssa</h2>
    </div>
  </div>
</section>
<section class="order-body container d-flex">
  <section class="pizza-new col-12 col-lg-6">
    <div class="order-field size-field">
      <h4 class="order-body-title">
        Tamanho
      </h4>
      <select name="size" id="size">
        <option value="4">Broto (x4)</option>
        <option value="8">Média (x8)</option>
        <option value="12">Grande (x12)</option>
        <option value="16">Gigaaaante (x16)</option>
      </select>
    </div>
    <div class="order-field topping-field">
      <h4 class="order-body-title">
        Sabor
      </h4>
      <div class="d-flex m-0 p-0">
        <div class="topping-choice">
          Frango com nada
        </div>
      </div>
      <div class="btn btn-primary new-topping mt-2">
        + Adicionar cobertura
      </div>
    </div>
    <div class="order-field crust-field">
      <h4 class="order-body-title">
        Borda
      </h4>
      <select name="size" id="size">
        <option value="simples">Simples</option>
        <option value="catupiry">Catupiry</option>
        <option value="cheddar">Cheddar</option>
      </select>
    </div>
    <div class="btn btn-secondary">
      + Adicionar ao pedido
    </div>
    </section>
    <%= render 'shared/order' %>

</section>
