<div class="nav-color-fill"></div>
<div class="nav-spacer-transparent"></div>
<section class="container-fluid order-header">

  <div class="order-header container-fluid">
    <div class="container">
      <h2 class="order-title">Seu carrinho</h2>
    </div>
  </div>
</section>

<section class="container d-flex justify-content-center">
  <%= render 'shared/order' %>
</section>
<div class="placeholder" style="height: 256px;"></div>
