<section class="hero nav-spacer-transparent">
  <div class="hero-content d-flex flex-wrap justify-content-around">
    <div class="hero-img col-12 col-lg-6">
      <div class="circle"></div>
      <%= image_tag('pizza-logo.svg') %>
    </div>
    <div class="hero-content-text col-12 col-lg-6">
      <h1 class="hero-title">A melhor pizza da cidade</h1>
      <h2 class="hero-subtitle">Sem sair de casa</h2>
      <div class="hero-btn text-center text-lg-start">
        <%= link_to 'PEDIR!', new_pizza_path, class: 'btn btn-primary cta '%>
      </div>
    </div>
  </div>
</section>
