/* Navbar css*/
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100;200;300;400;500;700&display=swap");

.nav-spacer {
  height: 80px;
  width: 100%;
}

.navbar {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  color: rgb(21, 21, 30);
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: column;
  top: 0;
  z-index: 1;
  transition: 0.3s;
  color: #f2f2f2;
}

.navbar-expanded {
  background-color: rgba(250, 248, 248, 0.9);
  height: 544px;
}

.navbar-expanded .navbar-logo {
  flex-grow: 2;
}

.navbar .logo {
  padding-left: 2rem;
  width: 100%;
  justify-content: space-between;
}

.navbar-logo h4 {
  margin: auto 0;
  font-family: 'Lemonada', cursive;
  font-weight: 700;
  font-size: 48px;
}

.navbar a {
  color: #f2f2f2;
  margin: 0;
  padding: 2rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.navigation {
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: -100vh;
  transition: 0.3s;
}

.navigation-active {
  flex-grow: 1;
  top: 0vh;
}

@media (min-width: 992px) {
  .navbar {
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    align-content: space-between;
    align-items: center;
  }

  .navbar-expanded {
    background-color: transparent;
  }

  .navbar a {
    padding: 0;
    transition: 0.5s;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }

  .navbar a:hover {
    text-shadow: 1px 1px 2px #d7d7d7;
    background-color: rgba(40, 40, 40, 0.1);
  }

  .navbar-item {
    margin: 0.5rem;
  }

  .navbar .logo {
    margin: 0;
    width: fit-content;
  }

  .navigation {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    height: 100%;
    top: 0vh;
  }
}
